section[data-main] {
  h3 {
    margin-top: 5px;
  }

  textarea { height: 200px; }
  h1,h2 {
    display: inline;
    word-wrap: break-word;
    text-overflow: ellipsis;
 }
  .description {
    height: 225px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    h1,h2,h3,h4,h5 {
      font-weight: bold;
    }
  }

  #char-count {
    display: inline;
    text-align: right;
    float: right;
    padding-right: 3px;
  }
}
